body {
  margin: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

/* First Navbar */
#navbar-one {
  height: 60px;
  padding: 10px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  gap: 20px;
}

.item {
  margin: 10px;
}

#circle {
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 50%;
}

/* Second Navbar */
#navbar-two {
  height: 120px;
  padding: 10px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.album {
  text-align: center;
}

img {
  height: 80px;
  object-fit: cover;
}
