body {
  margin: 0;
}

.sidebar {
  width: 150px;
  height: 100vh;
  background-color: green;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  /* <-- THIS spaces them like your screenshot */
  align-items: center;            /* centers text horizontally */
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

.item {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
